/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.wrapper {
  max-width: 1000px;
  width: 100%;
  position: relative;
  margin: auto;
  padding: 24px;
}

.wrapper i {
  top: 40%;
  height: 50px;
  width: 50px;
  /* cursor: pointer; */
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 2px rgba(0,0,0,0.12);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  border: 1px solid gray;
  left: -72px;
}
.wrapper i:last-child{
  border: 1px solid gray;
  right: -72px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel .card {
  scroll-snap-align: start;
  height: 400px;
  list-style: none;
  background: #fff;
  border-radius: 8px;
  border: solid 1px grey;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.carousel .card .img {
  margin: auto;
  padding: 4px;
  height: 150px;
  width: 260px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.card .img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  border: 2px solid #ccc;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 18px;
  margin: 3px 0px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

.konten{
  padding: 5px 18px;
  font-size: 14px;
}

.konten a{
  color: blue;
}

.konten p{
  text-align: justify;
}
.konten a:hover{
  text-decoration: underline;
}

.konten-more{
  padding: 4px 0px;
  color: blue;
}

.konten-more a:hover{
  text-decoration: underline;
  color: black;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 1) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}